<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{plantillas/plantilla :: head}">

</head>

<body>
  <main class="d-flex flex-nowrap">
    <div th:replace="~{plantillas/plantilla :: lateral}">


    </div>
    <!-- fin barra lateral -->
    <div th:replace="~{plantillas/plantilla :: medio}">

    </div>


    <!-- barra lateral izquierda -->

    <div th:replace="~{plantillas/plantilla :: izquierda}"> 

    </div>
    <div th:replace="~{plantillas/plantilla :: pre}">
    </div> 

  </main>
</body>

</html>